body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    padding: 20px;
    color: black;
    text-align: right;
    background: beige;
    font-size: 2em;
}

section{
    display: flex;
}

article{
    padding: 10px;
    text-align: center;
    width: 100%;
}

#articulo1{
    background: gray;
}

#articulo2{
    background: blueviolet;
}

#articulo3{
    background: violet;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}
img{
    width: 100%;
}